<!DOCTYPE html>
<html>
    <head>
        <title>Today!</title>
    </head>
    <body>
      <%=Date.today.strftime("The date is %A, %B %d, %Y")%>
        <h1>Today</h1>
        <p>LALALALALALA</p>
    </body>
</html>
