<!DOCTYPE html>
\n<html lang=\"en\" dir=\"ltr\">
\n<head>
  \n<meta charset=\"utf-8\">
  \n<title></title>
  \n</head>
  \n<body>
    <h1>Today</h1>
    <% today = Time.now %>
    <% today_string = today.strftime("%A, %B %d, %Y") %>
    <p><%= "The date is #{today_string}" %></p>
\n</body>
    \n</html>\n
